<template>
  <div>
    <section class="content">
      <h1 class="text-center">Kijelentkezés...</h1>
    </section>
  </div>
</template>
<script>

export default {
  name: 'Logout',
  created() {
    this._logout_()
  },
  methods: {
    _logout_() {
      try {
        this.$helpers.LogoutUser().then((response) => {
          this.$cookie.delete('SESSION_ID')
          this.$router.push('login')
        })
      } catch (e) {
        console.error('[components][views][Tables.vue][_logout_]', e)
      }
    }
  }
}
</script>

<style>
.datetime-picker input {
  height: 4em !important;
}
</style>
