<template>
  <section class="content">
    <button type="button" class="btn btn-secondary" style="float: right; margin: 15px" @click="$router.push('/logout')">Kijelentkezés</button>
    <!-- <button type="button" class="btn btn-secondary" style="float: right; margin: 15px" @click="_logout_">Kijelentkezés</button> -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Megkeresés részletei</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Bezár">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Név:</h4>
            <p>{{detailedRequest.name}}</p>
            <h4>Email:</h4>
            <p>{{detailedRequest.email}}</p>
            <h4>Telefon:</h4>
            <p>{{detailedRequest.phone}}</p>
            <h4>Üzenet:</h4>
            <p>{{detailedRequest.message}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Beérkezett ajánlatkérések</h3>
          </div>
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-sort="ascending" style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Név</th>
                        <th style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Email</th>
                        <th style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Telefonszám</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="even" role="row"
                      v-for="request in requests" :key="request._id"
                      data-toggle="modal" data-target="#exampleModal"
                      @click="_showRequestDetails_(request._id)"
                      >
                        <td class="sorting_1">{{request.name}}</td>
                        <td>{{request.phone}}</td>
                        <td>{{request.email}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
</template>

<script>
// import detailmodal from './DetailModal'
import $ from 'jquery'
// Require needed datatables modules
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'Tables',
  data: () => ({
    requests: [],
    _id: '',
    detailedRequest: {}
  }),
  mounted() {
    this.$nextTick(() => {
      $('#example1').DataTable()
    })
  },
  created () {
    this._initRequests_()
  },
  methods: {
    _initRequests_ () {
      try {
        this.$Request.collect().then((response) => {
          this.requests = response
        })
      } catch (e) {
        console.error('[components][views][Tables.vue][_initRequests_]', e)
      }
    },
    _showRequestDetails_(_id) {
      try {
        this.$Request.getDetails(_id).then((response) => {
          this.detailedRequest = response
        })
      } catch (e) {
        console.error('[components][views][DetailModal.vue][_showRewuestDetails_]', e)
      }
    },
    _logout_() {
      try {
        this.$helpers.LogoutUser().then((response) => {
          this.$cookie.delete('SESSION_ID')
          this.$router.push('login')
        })
      } catch (e) {
        console.error('[components][views][Tables.vue][_logout_]', e)
      }
    }
  },
  components: {
    // detailmodal
  }
}
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.

@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

@import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
  content: '\f0dd';
}

table.dataTable thead .sorting_desc:after {
  content: '\f0de';
}
</style>
